{% extends "base.html" %} {% load static %} {% block content %}

<form id="contactForm" method="post">
    {% csrf_token %}
    <div class="form-group mb-3">
        <label class="label" for="phone">Phone</label>
        <input type="text" class="form-control" name="phone" placeholder="Phone Number" required>
    </div>
    <div class="form-group">
        <button type="submit" class="form-control btn btn-primary rounded submit px-3">Get
            OTP</button>
    </div>
</form>
<div>
    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}
</div>
{% endblock content %}