{% extends "base.html" %} {% load static %} {% block content %}

<form id="contactForm" method="post">
    {% csrf_token %}
    <fieldset>
        <div class="mb-3">
            <label for="first_name" class="form-label">First Name</label>
            <input type="text" name="first_name" class="form-control" placeholder="First Name" required autofocus />
        </div>
        <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" name="last_name" class="form-control" placeholder="Last Name" required autofocus />
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" name="email" class="form-control" placeholder="Email Address" required autofocus />
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" placeholder="Username" required autofocus />
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">Profile Type?</label>
            <input type="radio" name="profile_type" value="Patient" class="form-control" required autofocus />Patient
            <input type="radio" name="profile_type" value="Doctor" class="form-control" required autofocus />Doctor
        </div>
        <button type="submit" class="btn btn-secondary">
            Register
        </button>
    </fieldset>
</form>
<div>
    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}
</div>
{% endblock content %}